{% set button_colors = ['btn-primary', 'btn-secondary', 'btn-info', 'btn-success', 'btn-danger'] %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reviewer</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Custom webfonts for this template-->
    {#    <link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">#}
    {#    <link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">#}
    {#    <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">#}


    <style>
        {% block style %}
        {% endblock %}

        .word_emphasize {
            font-weight: bold;
        }

        .word_highlight {
            background-color: lime;
        }

        label {
            border-width: 5px !important;
        }

        label.active {
            border-color: darkorange !important;
            border-style: solid;
            border-width: 5px;
        }

        .dlk-radio input[type="radio"],
        .dlk-radio input[type="checkbox"] {
            margin-left: -99999px;
            display: none;
        }

        .dlk-radio input[type="radio"] + .fa,
        .dlk-radio input[type="checkbox"] + .fa {
            opacity: 0.15
        }

        .dlk-radio input[type="radio"]:checked + .fa,
        .dlk-radio input[type="checkbox"]:checked + .fa {
            opacity: 1
        }

    </style>
    <link href="/static/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    {#    <link href="/static/css/nouislider.min.css" rel="stylesheet">#}

    {#    <link href="/static/css/star-rating.min.css" rel="stylesheet">#}
    {% block head %}
    {% endblock %}



    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="row">
    {% if document is none %}
        <h2>Review Completed</h2>
        <a href="/tool/review/{{ connection_name }}/{{ connection_url }}/reset"
           class="btn btn-warning">
            Reset Review Status
        </a>
    {% else %}
        {% for label, value in document.metadata.items() %}
            <div class="card col-sm-3">
                <label>
                    {{ label }}
                    <input readonly="readonly" value="{{ value }}"/>
                </label>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="progress" style="height:30px">
    {% if progress %}
        <div class="progress-bar" role="progressbar" style="width:{{ progress.done.percent }}%;height:30px">
            {{ progress.done.count }} Done
        </div>
        <div class="progress-bar bg-info" role="progressbar"
             style="width:{{ progress.in_progress.percent }}%;height:30px">
            {{ progress.in_progress.count }} In progress
        </div>
        <div class="progress-bar bg-danger" role="progressbar" style="width:{{ progress.ready.percent }}%;height:30px">
            {{ progress.ready.count }} Ready
        </div>
    {% endif %}
</div>

{#<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">#}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"
               href="/tool/build"
               onclick="saveAll()"
            >Save and Exit</a>
        </li>
        <li class="nav-item">
            {% if previous %}
                <a class="nav-link"
                   href="/tool/review/{{ connection_name }}/{{ connection_url }}/previous/{{ document.name_url }}"
                   onclick="saveAll()"
                >Previous</a>
            {% else %}
                <button class="nav-link" disabled="disabled">Previous</button>
            {% endif %}
        </li>
        <li class="nav-item">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                {% for label in document.labels %}
                    <div class="custom-control custom-checkbox">
                        <input id="label_value_{{ label }}"
                               type="checkbox"
                               value="{{ label }}"
                               name="document-options"
                               data-toggle="button"
                               style="display: none;"
                               {% if label in document.responses %}checked="checked"{% endif %}
                        >
                        <label for="label_value_{{ label }}"
                               class="btn {{ button_colors[loop.index0 % button_colors | length] }} {% if label in document.responses %} active {% endif %}"
                               onclick="saveResponseFromLabel(this)"
                        >
                            {{ label }}
                        </label>
                    </div>

                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            <div class="form-group">
                <input type="text" class="form-control" id="response">
                <button class="btn-info" onclick="addResponse()">Add Response</button>
            </div>
            <div id="response-refresh-button" hidden="hidden">
                <p>
                    <a
                            href="/tool/review/{{ connection_name }}/{{ connection_url }}"
                            onclick="saveAll()"
                    >
                        REFRESH
                    </a>
                    to apply changes
                </p>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="/tool/review/{{ connection_name }}/{{ connection_url }}/next/{{ document.name_url }}"
               onclick="saveAllAndMarkDone()"
            >Next</a>
        </li>
    </ul>
</nav>

<div class="row">

    <div class="card col-3 form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment">{% if document.comment %}
            {{ document.comment }}{% endif %}</textarea>
        <h2>History</h2>
        <ul>
            {% for item in history %}
                <li>
                    <a href="/tool/review/{{ project.name_url }}/{{ item.annotation_id }}">{{ item.document_name }}</a> {{ item.update_date }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card col-6">
        <div style="background-color: lightcyan">
            {% for line in document.preview %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
        <div style="background-color: #ededed">
            {% for sentence in document.sentences %}
                <p>
                    {% for word in sentence %}
                        <span class="{% if word.emphasize %}word_emphasize{% endif %} {% if word.highlight %}word_highlight{% endif %}">
                            {{ word.text }}
                        </span>
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>

    <div class="card col-3">

        <h2>Notifications</h2>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <!-- Position it -->
            <div id="toast" class="toast" role="alert" aria-live="assertive"
                 aria-atomic="true" data-delay="50000">
                <div class="toast-header">
                    {#    <img src="..." class="rounded mr-2" alt="...">#}
                    <strong id="toast-header" class="mr-auto">Info</strong>
                    <small id="toast-mini"></small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="toast-message" class="toast-body">

                </div>
            </div>
        </div>
        <h2>Highlight</h2>
        <div class="form-group">
            <label for="regex">Add Search Term</label>
            <input type="text" class="form-control" id="regex">
            <button class="btn-info" onclick="addRegex()">Add</button>
        </div>
        <div id="refresh-button" hidden="hidden">
            <p>
                <a
                        href="/tool/review/{{ connection_name }}/{{ connection_url }}"
                        onclick="saveAll()"
                >
                    REFRESH
                </a>
                to apply changes
            </p>
        </div>
        <ul>
            {% for highlight in document.highlights %}
                <li>{{ highlight }}
                    <button class="btn-danger" onclick="removeRegex('{{ highlight }}')">Remove</button>
                </li>
            {% endfor %}
        </ul>

        <h2>Regex Filters</h2>
        <p>
            Require these regular expressions to match/not match.
            Click "Refresh" to update changes
        </p>
        <div class="table-responsive dlk-radio btn-group">
            <table class="table">
                <thead>
                <tr>
                    <td>Include</td>
                    <td>Exclude</td>
                    <td>Ignore</td>
                    <td>
                        <a href="/tool/review/{{ connection_name }}/{{ connection_url }}" class="btn btn-info">Refresh
                            Regexes</a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">
                        <textarea id="new_rf_regex" class="form-control" rows="2"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-success">
                            <input id="new_rf_include" name="choices[0]" class="form-control" type="radio" value="1"
                                   checked>
                            <i class="fa fa-check glyphicon glyphicon-ok"></i>
                        </label>
                    </td>
                    <td>
                        <label class="btn btn-danger">
                            <input id="new_rf_exclude" name="choices[0]" class="form-control" type="radio" value="2">
                            <i class="fa fa-times glyphicon glyphicon-remove"></i>
                        </label>
                    </td>
                    <td>
                        <label class="btn btn-warning">
                            <input id="new_rf_ignore" name="choices[0]" class="form-control" type="radio" value="2">
                            <i class="fa fa-circle glyphicon glyphicon-remove"></i>
                        </label>
                    </td>
                    <td>
                        <button class="btn-info" onclick="addRegexFilter()">Add</button>
                    </td>
                </tr>
                {% for regex_filter in regex_filters %}

                    <tr>
                        <td colspan="3">
                        <textarea id="{{ regex_filter.id }}" class="form-control" rows="2"
                        >{{ regex_filter.regex }}</textarea>
                        </td>
                        <td>
                            <button class="btn btn-success" onclick="updateRegexFilter('{{ regex_filter.id }}')">
                                Refresh
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="btn btn-success">
                                <input id="{{ regex_filter.id }}_include" name="choices[{{ loop.index + 1 }}]"
                                       class="form-control" type="radio" value="1"
                                       {% if regex_filter.include %}checked{% endif %}
                                >
                                <i class="fa fa-check glyphicon glyphicon-ok"></i>
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-danger">
                                <input id="{{ regex_filter.id }}_exclude" name="choices[{{ loop.index + 1 }}]"
                                       class="form-control" type="radio" value="2"
                                       {% if regex_filter.exclude %}checked{% endif %}
                                >
                                <i class="fa fa-times glyphicon glyphicon-remove"></i>
                            </label>
                        </td>
                        <td>
                            <label class="btn btn-warning">
                                <input id="{{ regex_filter.id }}_ignore" name="choices[{{ loop.index + 1 }}]"
                                       class="form-control" type="radio" value="2"
                                       {% if regex_filter.ignore %}checked{% endif %}
                                >
                                <i class="fa fa-circle glyphicon glyphicon-remove"></i>
                            </label>
                        </td>
                        <td>
                            <button class="btn-danger" onclick="deleteRegexFilter('{{ regex_filter.id }}')">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const newRegexFilterRegex = document.getElementById('new_rf_regex');
    const newRegexFilterInclude = document.getElementById('new_rf_include');
    const newRegexFilterExclude = document.getElementById('new_rf_exclude');
    const newRegexFilterIgnore = document.getElementById('new_rf_ignore');

    function addRegexFilter() {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/filter/add', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'regex': newRegexFilterRegex.value,
                'include': newRegexFilterInclude.checked,
                'exclude': newRegexFilterExclude.checked,
                'ignore': newRegexFilterIgnore.checked,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Added Regex';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Please refresh to reload regex filters';
                }
                toast.toast('show');
            });
    }

    function updateRegexFilter(regexFilterId) {
        let regexFilterElement = document.getElementById(regexFilterId);
        let regexFilterElementInclude = document.getElementById(`${regexFilterId}_include`);
        let regexFilterElementExclude = document.getElementById(`${regexFilterId}_exclude`);
        let regexFilterElementIgnore = document.getElementById(`${regexFilterId}_ignore`);
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/filter/update', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'id': regexFilterId,
                'regex': regexFilterElement.value,
                'include': regexFilterElementInclude.checked,
                'exclude': regexFilterElementExclude.checked,
                'ignore': regexFilterElementIgnore.checked,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Added Regex';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Please refresh to reload regex filters';
                }
                toast.toast('show');
            });
    }

    function deleteRegexFilter(regexFilterId) {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/filter/delete', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'id': regexFilterId,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Added Regex';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Please refresh to reload regex filters';
                }
                toast.toast('show');
            });
    }
</script>

<script>
    function markDone() {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/mark/done/{{ document.name_url }}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        });
    }
</script>

<script>
    /* constants */
    const commentBlock = document.getElementById('comment');
    const responsesOptions = document.getElementsByName('document-options');
    const regex = document.getElementById('regex');
    const refreshDiv = document.getElementById('refresh-button');
    const response = document.getElementById('response');
    const responseRefreshDiv = document.getElementById('response-refresh-button');

    /* toasts */
    const toast = $('#toast');
    const toastMessage = document.getElementById('toast-message');
    const toastHeader = document.getElementById('toast-header');
    const toastMini = document.getElementById('toast-mini');


    /* functions */
    function saveComment() {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/update/{{ document.name_url }}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'comment': commentBlock.value,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Save Successful';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Successfully saved comment';
                }
                toast.toast('show');
            });
    }

    function getResponses() {
        let results = [];
        responsesOptions.forEach((response) => {
            if (response.checked === true) {
                results.push(response.value);
            }
        });
        return results;
    }

    console.log(getResponses());

    function saveResponseFromLabel(labelField) {
        console.log('from label')
        console.log(labelField)
        let inputField = document.getElementById(labelField.htmlFor);
        // checkbox not clicked
        inputField.checked = !(inputField.checked);
        console.log(inputField.checked);
        saveResponses(inputField);
    }

    function saveResponseFromInput(inputField) {
        console.log('from input')
        // checkbox already clicked, but label will also fire
        {#inputFieldEvent.stopImmediatePropagation();#}
        {#inputField.checked = ! (inputField.checked);#}
        {#inputFieldEvent.preventDefault();#}
        console.log(inputField.checked);
        saveResponses(inputField);
    }

    function saveResponses(inputField) {
        let responses = getResponses();
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/update/{{ document.name_url }}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'annotations': responses,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Save Successful';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Successfully saved responses';
                }
                toast.toast('show');
            });
    }

    function saveAllAndMarkDone() {
        markDone();
        saveAll();
    }

    function saveAll() {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/update/{{ document.name_url }}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'annotations': getResponses(),
                'comment': commentBlock.value,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Save Successful';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Successfully saved responses and options';
                }
                toast.toast('show');
            });
    }

    function addResponse() {
        let newValue = response.value;
        response.value = '';
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/response/add', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'response': newValue,
            })
        })
            .then(response => response.json())
            .then(data => {
                responseRefreshDiv.hidden = false;
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Response Added';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Refresh to show updates on this page';
                }
                toast.toast('show');
            })
    }

    function addRegex() {
        let newValue = regex.value;
        regex.value = '';
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/regex/add', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'regex': newValue,
            })
        })
            .then(response => response.json())
            .then(data => {
                refreshDiv.hidden = false;
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Search Term Added';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Refresh to show updates on this page';
                }
                toast.toast('show');
            })
    }

    function removeRegex(regexValue) {
        fetch('/tool/review/{{ connection_name }}/{{ connection_url }}/regex/remove', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'regex': regexValue,
            })
        })
            .then(response => response.json())
            .then(data => {
                refreshDiv.hidden = false;
                if (data['errors'].length > 0) {
                    toastHeader.innerText = data['errors'][0]['header'];
                    toastMessage.innerText = data['errors'][0]['message'];
                    toastMini.innerText = `${data['errors'].length} errors`
                } else {
                    toastHeader.innerText = 'Search Term Removed';
                    toastMini.innerText = 'Just now...';
                    toastMessage.innerText = 'Refresh to show updates on this page';
                }
                toast.toast('show');
            })
    }

    /* listeners */
    commentBlock.addEventListener('change', saveComment);
</script>

</body>
</html>