<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SignIn</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post">
    {#      <img class="mb-4" src=".svg" alt="" width="72" height="72">#}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username</label>
    {{ form.username(class_="form-control", placeholder="Username") }}
    <label for="email" class="sr-only">Email</label>
    {{ form.email(class_="form-control", placeholder="Email") }}
    <label for="password" class="sr-only">Password</label>
    {{ form.password(class_="form-control", placeholder="Password") }}
    {{ form.hidden_tag() }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button>
    <button class="btn btn-lg btn-warning btn-block" type="submit" name="back" value="back">Back</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    <div>
        {% for message in errors %}
            <div class="alert alert-danger">
                Problem with {{ field }}: {{ message }}
            </div>
        {% endfor %}
        {% for field, messages in form.errors.items() %}
            {% for message in messages %}

                <div class="alert alert-danger">
                    Problem with {{ field }}: {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</form>
</body>
</html>